<div class="container">
  <h1>登録家庭一覧</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>City</th>
      <th>num_of_people</th>
      <th>has_child</th>
      <th></th>
    </tr>
    <%= render partial: 'house_energy_usages/index/house_energy_usage',
      collection: @house_energy_usages %>
  </table>
</div>
