<h1>Energy Data</h1>

<%= link_to "Energy Data List", energies_path %><br/>
<%= link_to "Add New Energy Data", new_energy_path %><br/>
<%= link_to "Add New House Data", new_house_path %>

<%= render partial: 'tables/energy_data_details', locals: { energy: @energy}  %>