<h1>Dashboard</h1>
<p>This is chart example</p>
<canvas id="myChart1" width="400" height="100"></canvas>
<canvas id="myChart2" width="400" height="100"></canvas>
<script>
  window.onload= function(){
    window.dashbords.dataHandler().render_graph_data1("#myChart1");
    window.dashbords.dataHandler().render_graph_data2("#myChart2");
  };
</script>