<h1>EnergyProductions#index</h1>
<p>Find me in app/views/energy_productions/index.html.erb</p>
<%= debug(params) if Rails.env.development? %>

<canvas id="myChart" width="450" height="200"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [1,2,3,4,5],
        datasets: [{
            label: "サンプル",
            data: [1,2,3,4,5],
            backgroundColor: 'rgba(255, 99, 132, 1.0)',
            borderColor: 'rgba(255, 50, 132, 1.0)',
            fill: false
        }]
    },
    options: {
        title:  {
          display: true,
          text: "タイトル"
        }
    }
});
</script>