<h1>Houses Data List</h1>

<%= link_to "Energies Data List", energies_path %><br/>
<%= link_to "Add New House Data", new_house_path %>

<%= render partial: 'charts/house_index_chart', locals: { houses: @houses} %>

<%= render partial: 'tables/house_index_table', locals: { houses: @houses} %>