/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/node_modules
/yarn-error.log
/public/assets
.byebug_history
/config/master.key
vendor/
.env

# 秘匿情報を含むファイル
/itamae/source_files/chsh_to_zsh.sh
/itamae/source_files/enechange.pem
/itamae/source_files/github.pem
/itamae/source_files/sudoers
