/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/node_modules
/yarn-error.log
/public/assets
.byebug_history
/config/master.key
vendor/
.env