<h3>Average Energy Production of Each Cities</h3>
<div>This chart shows average energy production of each cities.</div>
<div>* By hovering mouse on each plots, you can see detailed value on tooltip.</div>
<div id="chartaNode" style="width:800px;height:400px;"></div>
<div id="legenda"></div>
