h4.dataset-heading num_of_people
= render 'houses/column_chart_of_num_of_people_with_count', data_for_chart: data_of_num_of_people_with_count(houses)
= render 'houses/table_of_num_of_people_with_count', data_for_table: data_of_num_of_people_with_count(houses)