%h2 Select your name to check the Energy Production
%h3 if you check the information, to select 'More'
%table
  %thead
    %tr
      %th No.
      %th Family Name
      %th Information
  %tbody
    - @houses.each do |house|
      %tr
        %td
          =house.id
        %td
          = link_to house_datas_path(house_id: house.id) do
            =house.Lastname
        %td
          = link_to house_path(id: house.id) do
            More
