<h1>EnergyDataSimulation-challenge3 yukio-ugajin</h1>
<canvas id="myChart1"></canvas>
<canvas id="myChart2"></canvas>
<%= javascript_pack_tag 'chart-1', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'chart-2', 'data-turbolinks-track': 'reload' %>