%h2 select your name
%table
  %thead
    %tr
      %th No.
      %th Family Name
      %th Registration
  %tbody
    - @houses.each do |house|
      %tr
        %td
          =house.id
        %td
          = link_to user_datas_path(user_id: house.id) do
            =house.Lastname
        %td
          = link_to user_path(id: house.id) do
            More
