%h1 EnergySimulator
= form_with url: simulate_simulators_path, model: @simulator, method: :get do |f|
  .form
    契約アンペア(A)
    =f.number_field :current, step: "0.01"
  .form
    １ヶ月の電力使用量(kWh)
    =f.number_field :power, step: "0.01"
  .btn
    =f.submit "計算"



.registration_plan
  =link_to "プラン登録", new_plan_path
.registration_provider
  =link_to "プロバイダー登録", new_provider_path
.registration_basic_charge
  =link_to "基本料金 登録", new_basic_charge_path
.registration_usage_charge
  =link_to "従量料金 登録", new_usage_charge_path
