<%= image_tag('logo.png', :class => "logo") %>

<h1>EnergyDataSimulationChallenge Challenge3!</h1>


<p style="clear: left;">You can search for houses</p>
<input type="text" ng-model="keyword" placeholder="Search" />

<p>Click 'show' to see charts</p>
<div id="chart" class="geochart" style="width: 800px; height: 400px;"></div>
<div ng-controller="houseCtrl">
  <table>
    <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>City</th>
      <th>Num of people</th>
      <th>Has child</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    </tbody>
    <tr ng-repeat="house in houses | filter:keyword">
      <td>{{house.firstname}}</td>
      <td>{{house.lastname}}</td>
      <td>{{house.city}}</td>
      <td>{{house.has_child}}</td>
      <td><a href='houses/{{house.id}}'>Show</a></td>
      <td><a href='houses/{{house.id}}/edit'>Edit</a></td>
      <td><a href='houses/{{house.id}}'>DELETE</a></td>
    </tr>
    </tbody>
  </table>
</div>
<br>

<script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
     google.load('visualization', '1', {'packages': ['geochart']});
     google.setOnLoadCallback(drawMarkersMap);

      function drawMarkersMap() {
      var data = google.visualization.arrayToDataTable(<%= raw @cities_for_geochart %>);

      var options = {
        region: 'GB',
        displayMode: 'markers',
        colorAxis: {colors: ['green', 'blue']}
      };

      var chart = new google.visualization.GeoChart(document.getElementById('chart'));
      chart.draw(data, options);
    };
</script>

<%= link_to 'New House', new_house_path %>
