<%= image_tag 'logo.png' %>
<h1>EnergyDataSimulationChallenge Challenge3!</h1>

<p>Click 'show' to see charts</p>

<input type="text" ng-model="keyword" placeholder="Search" />

<div ng-controller="houseCtrl">
  <table>
    <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>City</th>
      <th>Num of people</th>
      <th>Has child</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    </tbody>
    <tr ng-repeat="house in houses | filter:keyword">
      <td>{{house.firstname}}</td>
      <td>{{house.lastname}}</td>
      <td>{{house.city}}</td>
      <td>{{house.has_child}}</td>
      <td><a href='houses/{{house.id}}'>Show</a></td>
      <td><a href='houses/{{house.id}}/edit'>Edit</a></td>
      <td><a href='houses/{{house.id}}'>DELETE</a></td>
    </tr>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New House', new_house_path %>
