// Place all the styles related to the Energies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.import {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td, th {
    padding: 10px;
}

th {
    color: #fff;
    background: #005ab3;
}

table tr:nth-child(odd) {
    background: #e6f2ff;
}

td {
    border-bottom: 2px solid #80bcff;
}