<h1>LineChart</h1>

<div id="chart"></div>

<script type="text/javascript">
var chart = c3.generate({
  bindto: '#chart',
  data: {
    x: 'x',
    columns: <%= raw @c3_columns %>
  },
  axis: {
    x: {
      type: 'timeseries',
      tick: {
        format: '%Y-%m'
      }
    }
  }
});
</script>
