div
  div.container
    canvas#EnergyProduction
  

javascript:
  let ctx = document.getElementById("EnergyProduction").getContext('2d');

  let SampleChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ["London", "Cambridge", "Oxford"],
      datasets: [{
        label:"各都市世帯平均発電量",
        data: #{@energy_average_json},
        backgroundColor: 'rgba(255, 99, 132, 0.2)',
        borderColor: 'rgba(255, 99, 132, 1)',
        borderWidth: 1
      }]
    },
    option: {
      scales: {
        yAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: "世帯平均発電量"
          },
          ticks: {
            min: 0,
            stepSize: 5000
          }
        }]
      }
    }
  })