// Place all the styles related to the charts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table{
  font-size: 15px;
}

.section-title{
  text-align: center;
  margin: 100px 0 100px 0;
}

.warning{
  font-size: 15px;
  text-align: center;
}

.back{
  display: block;
  width: 100px;
  font-size: 20px;
  margin: 0 auto;
}