<% @page_title= "Admin Menu" %>

<div class="menu">
	<h2>Admin Menu</h2>
	<div class="identity">Logged in as: <%= session[:username]%></div>
	<ul>
		<li><%= link_to("Manage Energy Records", energies_path)%></li>
		<li><%= link_to("Manage Houses", houses_path)%></li>
		<li><%= link_to("Logout",:action=>'logout')%></li>
	</ul>
</div>
