.container {
  width :100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px){
  .container {
    max-width: 1140px;
  }
}


table {
  text-align: center;
  table-layout: fixed;
  width: 100%;
  .number-cell {
    text-align: right;
  }
}

.return-link-button {
  display: block;
  text-align: right;
  margin-top: 1em;
}
