<h1>EnergyDataSimulationChallenge/c3</h1>
<div style="width: 60%;">
  <canvas id="g1"></canvas>
</div>
<div style="margin-top: 20px; font-size: 12px;">気温とエネルギー生産量の相関：<%= @r1 %></div>
<div style="font-size: 12px;">日射量とエネルギー生産量の相関：<%= @r2 %></div>
<div style="margin-top: 20px; width: 60%;">
  <canvas id="g2"></canvas>
</div>
<script>draw_graph();</script>
