
node_modules
yarn-error.log
yarn-debug.log*
.yarn-integrity
coverage
public/packs
public/packs-test
config/master.key
.env

# Built from admin
public/img/
public/js/
public/css/
public/fonts/
public/favicon.*
public/robots.txt
public/index.html
public/manifest.json
public/service-worker.js
public/precache-manifest.*