%h1 Houses#index
%table
  %tbody
    %tr
      %th First Name
      %th Last Name
  %tbody
  - @houses.each do |h|
    %tr
      %td= h.firstname
      %td= h.lastname
      %td= link_to 'Detail', house_path(h)
