<div class="container">
  <h1 class="app-title">Energy Data Simulation Challenge #3</h1>

  <div class="chart">
    <h2 class="chart-title">1. Energy production / City</h2>
    <div class="chart-wrap">
      <canvas id="city_production"></canvas>
    </div>
  </div>

  <div class="chart">
    <h2 class="chart-title">2. Energy production / Daylight</h2>
    <div class="chart-wrap">
      <canvas id="daylight_production"></canvas>
    </div>
  </div>

  <p class="repository"><a href="https://github.com/camenergydatalab/EnergyDataSimulationChallenge" target="_blank">repository</a></p>
</div>
