<h1>データ解析</h1>
<%= link_to '詳細' %>
<br>
<h2>【目的】</h2>
<h3>各家庭におけるエネルギーの生産量×消費量の関係を調査し、余剰エネルギー買取先や不足エネルギー購入先の提案に繋げる</h3>
<br>
<h2>【考え方】</h2>
<h3>①エネルギー生産量は家庭によらず変わらない</h3>
<h3>②エネルギー消費量は人数によって大きく変わる</h3>
<h3>つまり、人数の多い家庭ではエネルギー足りず、人数の少ない家庭ではエネルギーが余ると予想</h3>
<h3>③人数（家族構成）はエリアによって違いがありそう</h3>
<br>
<h2>エリア別人数構成比（棒グラフ）③</h2>
<h2>一人当たりのエネルギー生産量月平均エリア別比較（棒グラフ）③</h2>
<h2>=>攻めるべきエリア、余剰・不足が見える（全データ平均でなく消費量と比べるべきだが）</h2>
<h2>選択した家庭の一人当たりのエネルギー月別生産量vs全データ平均（線グラフ）</h2>
<h2>=>その家庭でエネルギーが余っているのか、不足しているのかが見える（全データ平均でなく消費量と比べるべきだが）</h2>
